/* Credentials Container Styling */
.credentials-container {
  flex: 0 0 300px;
  font-weight: bolder;
  overflow-y: auto;
}

.credentials-container.profile-page {
  flex: 0 0 400px; /* Increase width from 300px */
}  

.credentials-section {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 7px;
  overflow-y: auto;
}

.credentials-header {
  background-color: #6ea8fe;
  color: black;
  margin: 0;
  padding: 15px;
  padding-left: 25px;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 8px 8px 0 0;
}

.credentials-content {
  padding: 15px;
  font-weight: bolder;
  padding-bottom: 0px;
  
}

.credentials-container.profile-page .credentials-section {
  margin-bottom: 20px; /* Or whatever you like */
}

.max-captures-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.edit-max-captures{
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0px;
  width: 75px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.credential-group {
  margin-bottom: 10px;
}

.credential-group label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.credential-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.icon-group {
  display: flex;
  gap: 8px;
  align-items: center;
}

.password-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0px;
  width: 75px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 0px;
}

.edit-button:hover,.edit-max-captures:hover {
  background-color: #45a049;
}

.terms-section {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.terms-content {
  padding: 15px;
}

.max-captures-input {
  width: 50px;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.download-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4caf50;
  text-decoration: none;
  font-size: 14px;
}

.download-link:hover {
  text-decoration: underline;
}

.password-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.password-input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  height: 30px;
}

.save-button {
  background-color: #28a745;
  width: 70px;
  margin-bottom: 0px;
}

.message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}