.leads-container {
  padding: 20px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  justify-content: flex-start;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.excel-btn {
  width: 10%;
}

.back-btn {
  width: 10%;
  background-color: rgba(229, 87, 87, 0.945);
}

.back-btn:hover {
  background-color: red !important;
}

.download-and-back-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-container1 {
  /*position: fixed;*/
  min-height: 0; /* Important for flex children to scroll */
  max-height: calc(100vh - 200px); /* Adjust based on header/button heights */
  bottom: 80px; /* distance from bottom */
  left: 0;
  right: 0;
  min-height: 75vh;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow-y: auto;
  background-color: white;
  margin: 0 auto;
  width: 95%; /* optional */
}


table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-y: auto;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f1f3f5; /* Light grey for visibility */
  z-index: 2;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

.slno-col {
  width: 60px;        /* adjust as needed (40px–80px works well) */
  text-align: center; /* keeps numbers neatly centered */
  white-space: nowrap;
}


.no-leads {
  margin: 10px;
}

@media (max-width: 768px) {
  .excel-btn {
    width: 15%;
  }

  .back-btn {
    width: 15%;
  }
}
