@font-face {
  font-family: 'Zoho Puvi';
  src: url('./Zoho Puvi Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: 'Zoho Puvi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('https://static.zohocdn.com/iam/v2/components/images/bg.49756b7c711696d95133fa95451f8e13.svg');
  height: 100vh;
  width: 100vw;
  background-size: cover;   /* Ensures the image covers the full screen */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling due to image overflow */
}

.container {
  /* background-image: url('https://static.zohocdn.com/iam/v2/components/images/bg.49756b7c711696d95133fa95451f8e13.svg'); */
  margin: 0;
  min-width: 59vw;
  /* height: 78vh; */
  transform-origin: top left;
  flex-direction: column;
}

@media (max-width: 500px) and (max-height: 700px) {
  .container {
    height: 90vh;
  }
}

@media (max-height: 700px) {
  .container {
    height:85vh;
}
}